@CHARSET "ISO-8859-1";
@font-face {
font-family: calibri;
src: url(../fonts/CALIBRI.TTF);
}
@font-face {
font-family: calibribold;
src: url(../fonts/CALIBRIB.TTF);
}
@font-face {
font-family: calibriitalic;
src: url(../fonts/CALIBRII.TTF);
}
/* ------- GERAL ------- */
* { margin: 0; padding: 0; z-index: 1; } /* reseta todas as margens, paddings e define o nivel das camadas do site */
 
 
/* ------- ELEMENTOS ------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, 
font, form, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, 
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: normal;
	font-style: inherit;
	font-size: inherit;
	font-family: inherit;
	vertical-align:middle;
}
:focus {
	outline: 0;
}
ol, ul, li, form ol {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* ------- FONTS ------- */
$Calibri: 'calibri';
$Calibribold: 'calibribold';
$Calibriitalic: 'calibriitalic';
/* ------- COLORS ------- */
$Branco: #FFF;
$Preto: #000;
$Cinza: #3d3c3d;
$CinzaClato: #f0f7eb;
$CinzaEscuro: #444;
$Verde: #55a998;
$VerdeEscuro: #4f655d;
$Amarelo: #c4df54;
/* ------- FUNCTIONS ------- */
@mixin model($width,$height){
	width: $width;
	height:$height;
}
@mixin percento(){
	width: 100%;
}
/* ------- CLASSES ------- */
 .clear {
	position:relative;
	clear:both;
	width:100%;
	height:0px;
}

/***************************************************************************************
  BASE
****************************************************************************************/
html, body {
	height:100%;
	font-size:14px;
	color:#000;
	background:$Cinza;
	overflow-x:hidden;
}

p{font-family:$Calibri; color:$CinzaEscuro; font-size: 14px; text-align: left; letter-spacing: 1px;}

h1{font-family: $Calibribold; color:$CinzaEscuro; font-size: 24px; text-align: left;}
h2{font-family:$Calibri; font-weight:bold; color:$CinzaEscuro; font-size: 23px;}

a{text-decoration: none;font-family:$Calibri;color:$Preto;}
a.voltar{color:$CinzaEscuro;
		font-family:$Calibriitalic; 
		font-size: 18px; 
		float: right;
		&:hover{color:$Amarelo;}
		}

span{color:$Branco;}
span.f_span{color: $Verde;}

address{font-family:$Calibri; text-align: center; color:$CinzaEscuro; font-size: 16px;padding-top: 5px;}
address.second{font-size: 14px;}

.txt{ position:absolute; top:-99999999em}

strong{ font-weight:bold;}

header, section, footer, aside, article, figure {display: block; z-index:999px !important;}

.center{width: 952px;margin:0px auto;}

.all{width: 952px; margin: 0px auto;}

.conteudo{margin: 0px auto; width: 650px;}

/*HEADER*/
header{
	margin-top: 30px;
	background: url(../img/header_t.png)no-repeat top right $CinzaClato;
	img.logo{position: relative;left: 75px;top: 30px;display: block;}
	ul.idiomas{
		float: right; 
		margin: 0px 0px 10px 0px;
		li{
			display: inline-block;
			img{width: 50%;}
			&:hover{opacity:0.8;}
		}
	}
}
/*MENU*/
.menu{
	width: 952px;margin:0px auto; height: 25px;background: $Verde; text-align: center; border-bottom: solid 2px $VerdeEscuro;
	li{display: inline-block; padding-left: 7px; margin-top: 1px;}
	a{text-transform: uppercase; font-size: 15px; line-height: 24px; color:$Branco;&:hover{color:$Amarelo;}}
	a.ativo{color:$Amarelo;}
}
/*BANNER*/
.rslides{
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 952px;
	padding: 0;
	margin: 0px auto;
	img { display: block;height: auto;float: left;width: 100%; border: 0;}
}
.principal{width: 952px;margin: 0px auto; background: #FFF;}

.tabela{background:url(../img/tab.png)no-repeat top left #FFF;
		width: 650px; 
		height: 125px; 
		display: block; 
		margin: 0px auto;
		a.a_h1{position: relative;
				top: 15%;
				left: 10%;
				font-size: 30px; 
				color:$Branco; 
				font-family: $Calibribold;
				cursor:pointer;
				&:hover{opacity:0.8;}
				}
		a.a_h2{position: relative; 
				top: 26%;
				left: 10%;
				font-size: 17px; 
				color:$Branco;
				cursor:pointer;
				&:hover{opacity:0.8;}
				}
		a.a_h3{position: relative;
				top: 20%;
				left: 10%;
				font-size: 30px; 
				color:$Branco;
				cursor:pointer;
				&:hover{opacity:0.8;}
				}
		.bt_tab{position: relative; 
				top: 15%; 
				left:15%;
				&:hover{opacity:0.8;}
				}
}
ul.pdesk{padding: 20px 0px 60px 0px;
	li{display: inline-block; 
	   margin: 0px auto;
	   margin-left: 10px;
	   &:first-child{margin-left: 0px;}
	  }
}
.fotos li{display: inline-block;
		width: 15%;
		margin: 10px 0px 10px 0px;
		img{width: 98px; height: 78px; border-radius: 10px;}
}
.logos li{display: inline-block;
		margin-left: 40px;
		&:first-child{margin-left: 0px;
		} 
}

.imagem{width: 440px; height: 210px; float: right;}
.imagem1{width: 370px; height: 300px; float: right;}
/*FOOTER*/
footer{
	@include model(100%, 135px);
}
.s_footer{width: 952px;margin:0px auto; background: #55a998; border-bottom: solid 2px #4f655d; min-height: 200px;}
.f_center{width: 720px; margin: 0px auto; padding: 20px;}
.f_nav1{width: 70px; min-height: 100px; float: left; font-size: 12px;}
.f_nav2{width: 190px; min-height: 100px; float: left; font-size: 12px;}
.f_nav3{width: 180px; min-height: 100px; float: left; font-size: 12px;}
.f_nav4{width: 110px; min-height: 100px; float: left; font-size: 12px;}
.f_nav5{width: 100px; min-height: 100px; float: left; font-size: 12px;}
.f_nav6{width: 70px; min-height: 100px; float: left; font-size: 12px;}

footer article.f_nav1 a, .f_nav2 a,.f_nav3 a,.f_nav4 a,.f_nav5 a,.f_nav6 a{font-size: 11px; color:$Branco; text-align: left;}
footer article.f_nav1 b, .f_nav2 b,.f_nav3 b,.f_nav4 b,.f_nav5 b,.f_nav6 b{font-size: 14px; color:$Branco;}

#p_footer{height:90px; width: 952px; background: #FFF; margin: 0px auto;margin-bottom: 100px;}

img.face{float: right;
		margin-right: 110px;
		&:hover{opacity:0.8;}
		}

section.contato{width: 952px;margin:0px auto; background: #E6E7E8; height: 250px;}

/*TOOLTIPS*/
a.tooltips {position: relative;display: inline; font-size: 14px;}
a.tooltips span {position: absolute;color: $Branco;background: #52a999;height: 30px;
line-height: 30px;text-align: center;visibility: hidden;border-radius: 6px;}
a.tooltips span.wifi {width:55px;}
a.tooltips span.mp3 {width:130px;}
a.tooltips span.tv {width:40px;}
a.tooltips span.motorista {width:110px;}
a.tooltips span.ar {width:110px;}
a.tooltips span.agua {width:110px;}
a.tooltips span.emissao {width:200px;}
a.tooltips span.credito {width:190px;}
a.tooltips span.led {width:110px;}
a.tooltips span.disp {width:130px;}
a.tooltips span:after {content: '';position: absolute;bottom: 100%;left: 50%;margin-left: -8px;width: 0; height: 0;
border-bottom: 8px solid #52a999;border-right: 8px solid transparent;border-left: 8px solid transparent;}
a:hover.tooltips span {visibility: visible;top: 40px;margin-left: -110px;z-index: 999;}
a:hover.tooltips span.wifi {left: 198%;}
a:hover.tooltips span.mp3 {left: 135%;}
a:hover.tooltips span.tv {left: 215%;}
a:hover.tooltips span.motorista {left: 155%;}
a:hover.tooltips span.ar {left: 155%;}
a:hover.tooltips span.agua {left: 155%;}
a:hover.tooltips span.emissao {left: 65%;}
a:hover.tooltips span.credito {left: 75%;}
a:hover.tooltips span.led {left: 155%;}
a:hover.tooltips span.disp {left: 135%;}

/*Form*/
label {display:block;margin-top:20px;letter-spacing:2px;color:$Preto; font-family: $Calibri;}
form {margin:0 auto 15%;margin-bottom: 15px;float: left;}
textarea {height:213px !important;background:#FFF; font-family: $Calibri;}
input, textarea, select{width:330px;height:32px;background:#FFF;border:1px solid #dedede;padding:4px;margin-top:3px;
font-size:0.9em;color: #CBC9C9;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
input:focus, textarea:focus {border:1px solid #97d6eb;}
#submit {background: url(../img/bt.png)no-repeat;border: none;width: 110px;height: 40px;text-indent: -99999999px;cursor: pointer;float: right;}
#submit:hover {opacity:.9;}
legend{font-family: $Calibri; color:#242424;}
label{font-family: $Calibri; color:#242424;}
fieldset{margin-bottom: 40px;}
select{height: 41px;}
/*DADOS PESSOAIS*/
fieldset.dadospessoais input#nome{width: 440px;}
fieldset.dadospessoais input#cpf{width: 180px;}
fieldset.dadospessoais input#email{width: 245px;}
fieldset.dadospessoais input#fcelular{width: 180px;}
fieldset.dadospessoais input#ffixo{width: 180px;}

/*DADOS DA VIAGEM*/
fieldset.dadosdaviagem input#lorigem{width: 310px;}
fieldset.dadosdaviagem input#ldestino{width: 310px;}
fieldset.dadosdaviagem input#dpartida{width: 135px;}
fieldset.dadosdaviagem input#dretorno{width: 135px;}
fieldset.dadosdaviagem input#hpartida{width: 130px;}
fieldset.dadosdaviagem input#hretorno{width: 130px;}
fieldset.dadosdaviagem input#npessoas{width: 90px;}
fieldset.dadosdaviagem select#paradas{width: 135px;}
fieldset.dadosdaviagem input#nparadas{width: 135px;}
fieldset.dadosdaviagem input#finalidade{width: 100%;}

input[type="date"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"]{font-family: $Calibri;color:#CBC9C9;}

:-moz-placeholder {color: #CBC9C9;} 
::-webkit-input-placeholder {color: #CBC9C9;}

/*CONTATO*/
form.contato {margin:0 auto 15%;margin-bottom: 15px;float: none;}
form.contato label {display:block;margin-top:20px;letter-spacing:2px;color:#000000;}
form.contato input, textarea {height:32px;background:#FFF;border:1px solid #dedede;padding:4px;margin-top:3px;
font-size:0.9em;color:#000;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
form.contato input:focus, textarea:focus {border:1px solid #97d6eb;}
form.contato input#nomecontato {width: 100%;}
form.contato input#emailcontato {width: 465px;}
form.contato input#fonecontato {width: 280px;}
form.contato textarea{width: 100%;}